<nav class="navbar ">

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="">


  <a class="navbar-brand" href="C:\Programming\Python_Front_end\Brief_website\Home\Home.html">BRIEF NEWS</a>
  </div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">HOME</a></li>

    <li><a href="/business">BUSINESS</a></li>
    <li><a href="/sports">SPORTS</a></li>
    <li><a href="/entertainment">ENTERTAINMENT</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/about">About</a></li>
        <li><a href="/extraa">Extras</a></li>
        <li><a href="/contact">Contact </a></li>
      </ul>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
  </ul>
</div>
</div>
</nav>
