<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/Business/business.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static "/Business/business.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>

  <body>


{{> nav}}

        <div class="container">
          <div class="row" style="padding-top:25px;">
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image1" >
                  </div>
                  <div class="title1">
                    <a href="https://www.youtube.com/watch?v=M-X-rN2yXfs&utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>RBI bans banks from dealing with Bitcoin, other cryptocurrencies</h3></a>
                  </div>
                  <div class="text1">
                    <p>The RBI has said that any entity regulated by it like banks shall be barred from providing services to any individual or business dealing in Bitcoin and other cryptocurrencies. RBI has given three months to banks to exit their relationship with such entities. The regulator, however, said it will promote the use of blockchain in financial services for strengthening transparency.</p>
                  </div>

                </div>
              </div></div>
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image2">
                  </div>
                  <div class="title1"><a href="https://www.hindustantimes.com/cricket/mohammed-shami-charged-for-domestic-violence-attempt-to-murder/story-47IBoxqFMCDtEb8hCKvfUO.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>Mark Zuckerberg became billionaire from millionaire in 1 yr</h3></a>
                  </div>
                  <div class="text1">
                    <p>Facebook CEO Mark Zuckerberg took just one year to turn from a millionaire to a billionaire, according to a study by Betway based on Forbes' data. Zuckerberg was the youngest self-made billionaire on Forbes Billionaires list when he debuted in 2008 at the age of 23. Zuckerberg is currently world's 7th richest person with a fortune of $63.8 billion.</p>
                  </div>

                </div>
              </div></div>

              <div class="col-sm-6"><div class="card_stack">
                  <div class="card1">
                    <div class="image3">
                    </div>
                    <div class="title1"><a href="http://www.xinhuanet.com/english/2018-03/17/c_137046022.htm?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                      <h3>How long the richest took to turn billionaire from millionaire?</h3></a>
                    </div>
                    <div class="text1">
                      <p>World's richest person and Amazon CEO Jeff Bezos took two years to become a billionaire from a millionaire, according to a study by betting site Betway. World's second richest person Bill Gates took five years to gain billionaire status after becoming millionaire. Warren Buffett became a billionaire at the age of 56, about 26 years after he became a millionaire.</p>
                    </div>

                  </div>
                </div></div>

                <div class="col-sm-6"><div class="card_stack">
                    <div class="card1">
                      <div class="image5">
                      </div>
                      <div class="title1">
                        <h3>Can recover losses from Nirav Modi scam in 6 months: PNB CEO</h3>
                      </div>
                      <div class="text1">
                        <p>PNB CEO Sunil Mehta has said the bank will recover its losses from the $2.1-billion scam involving jewellers Nirav Modi and Mehul Choksi within six months. He said that PNB has bad loans worth ₹57,000 crore which "can become a goldmine for the bank" and bring back PNB's profitability. The bank will also monetise its non-core assets, he added.</p>
                      </div>

                    </div>
                  </div></div>

                  <div class="col-sm-6"><div class="card_stack">
                      <div class="card1">
                        <div class="image6">
                        </div>
                        <div class="title1"><a href="https://economictimes.indiatimes.com/topic/RBI/news">
                          <h3>Star India owns rights worth ₹22,485 crore of Indian cricket</h3></a>
                        </div>
                        <div class="text1">
                          <p>After acquiring broadcast rights of Indian cricket team's home series for the next five years for ₹6,138.1 crore, Star India now owns ₹22,485 crore worth of media rights for cricket in India. It had acquired the IPL's global media rights with a consolidated bid of ₹16,347.5 crore last year. Star India also owns broadcast rights of all major ICC tournaments.</p>
                        </div>

                      </div>
                    </div></div>


                    <div class="col-sm-6"><div class="card_stack">
                        <div class="card1">
                          <div class="image7">
                          </div>
                          <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                            <h3>RBI asks all payment system operators to store data in India</h3></a>
                          </div>
                          <div class="text1">
                            <p>The RBI has directed all payment system operators in India to store data within the country to ensure the security of users' information. "Ensuring the safety and security of payment systems data... is essential to reduce the risks from data breaches," RBI said. The operators have been given six months' time to comply with the directive of the central bank.</p>
                          </div>

                        </div>
                      </div></div>


                      <div class="col-sm-6"><div class="card_stack">
                          <div class="card1">
                            <div class="image8">
                            </div>
                            <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle#scorecard">
                              <h3>India sends request to Hong Kong for Nirav Modi's arrest</h3></a>
                            </div>
                            <div class="text1">
                              <p>The External Affairs Ministry on Thursday informed the Rajya Sabha that a request has been submitted to Hong Kong authorities for provisional arrest of PNB scam-accused Nirav Modi. The ministry was responding to a query seeking to know if the Centre has any clue about the whereabouts of Nirav Modi and Mehul Choksi.</p>
                            </div>

                          </div>
                        </div></div>


                        <div class="col-sm-6"><div class="card_stack">
                            <div class="card1">
                              <div class="image9">
                              </div>
                              <div class="title1"><a href="https://twitter.com/ANI/status/975320514070745088?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                <h3>₹40k standard deduction allowed on pension from ex-employer</h3></a>
                              </div>
                              <div class="text1">
                                <p>Taxpayers who get pension from former employers are eligible to claim standard deduction of ₹40,000, Income Tax department has said. If pension is less than ₹40,000, then the deduction allowed will be limited to actual pension received, it added. In Budget 2018-19, standard deduction of ₹40,000 was introduced for salaried people in lieu of existing transport allowance and medical reimbursement.</p>
                              </div>

                            </div>
                          </div></div>



                          <div class="col-sm-6"><div class="card_stack">
                              <div class="card1">
                                <div class="image10">
                                </div>
                                <div class="title1"><a href="https://www.bloombergquint.com/business/2018/03/18/trai-looks-to-fast-track-mobile-number-portability-process?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                  <h3>​RBI may introduce own version of digital currency</h3></a>
                                </div>
                                <div class="text1">
                                  <p>The RBI on Thursday said it is looking at the possibility of introducing a central bank-backed digital currency. An inter-departmental group has been constituted to study and provide "guidance on the desirability and feasibility to introduce a central bank digital currency". RBI said the option is being explored amid rising costs of managing fiat paper and metallic money.</p>
                                </div>

                              </div>
                            </div></div>


                            <div class="col-sm-6"><div class="card_stack">
                                <div class="card1">
                                  <div class="image11">
                                  </div>
                                  <div class="title1"><a href="http://www.bgr.in/news/microsoft-offers-250000-to-identify-chip-bugs/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                    <h3>Patanjali to launch garments line in 2019</h3></a>
                                  </div>
                                  <div class="text1">
                                    <p>Stating that consumers want him to launch Patanjali jeans, yoga guru Baba Ramdev has announced that the brand will launch its own garments line next year. The collection, which will also feature ethnic clothes, will cater to men, women and children. He added that Patanjali will bring "windfall profits" to India from the countries which "looted" the nation.</p>
                                  </div>

                                </div>
                              </div></div>


                              <div class="col-sm-6"><div class="card_stack">
                                  <div class="card1">
                                    <div class="image12">
                                    </div>
                                    <div class="title1"><a href="http://www.livemint.com/Politics/fAKJ4sXvK5HPAEYu6tk5EJ/Vladimir-Putin-eyes-fourth-term-as-Russians-go-to-polls.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                      <h3>Na biwi na bacche phir bhi dekho kitne acche: Ramdev</h3></a>
                                    </div>
                                    <div class="text1">
                                      <p>Yoga guru-turned-businessman Ramdev has said, "People work for their family. Na biwi na bacche phir bhi dekho kitne acche (No wife, no children, still see how comfortable I am)." He added he doesn't go around with the baggage of having family. He said, "If you have a child, then you will have to bear with them for the entire life."</p>
                                    </div>

                                  </div>
                                </div></div>



                                <div class="col-sm-6"><div class="card_stack">
                                    <div class="card1">
                                      <div class="image13">
                                      </div>
                                      <div class="title1"><a href="https://www.hindustantimes.com/business-news/only-16-of-initial-gst-returns-filed-for-july-dec-matched-with-final-returns/story-KQj82tNn2WigR9ZNatC21L.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                        <h3>US making a mistake by imposing tariffs on imports: China</h3></a>
                                      </div>
                                      <div class="text1">
                                        <p>Calling on the international community to oppose the US' recent trade moves, Chinese Foreign Minister Wang Yi said, "If the US believes it could benefit from protectionism it is making a mistake." China also launched a World Trade Organisation challenge against the US proposal to impose tariffs on Chinese imports over alleged theft of intellectual property and technology.</p>
                                      </div>

                                    </div>
                                  </div></div>


                                  <div class="col-sm-6"><div class="card_stack">
                                      <div class="card1">
                                        <div class="image14">
                                        </div>
                                        <div class="title1"><a href="https://www.indiatoday.in/pti-feed/story/new-mobile-application-can-reduce-stroke-risk-1191609-2018-03-17?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                          <h3>Banks charging for some SMS alerts against RBI rules: Report</h3></a>
                                        </div>
                                        <div class="text1">
                                          <p>Some Indian lenders are allegedly charging customers more for SMS alerts on certain transactions against RBI's advisory, according to reports. As per the advisory, alerts for transactions made via debit cards, ATM withdrawals, NEFT and RTGS transactions after the funds are credited to the beneficiary account are non-chargeable. Alerts for all other transactions are chargeable under RBI rules.</p>
                                        </div>

                                      </div>
                                    </div></div>



                                    <div class="col-sm-6"><div class="card_stack">
                                        <div class="card1">
                                          <div class="image15">
                                          </div>
                                          <div class="title1"><a href="https://www.bloomberg.com/news/articles/2018-03-17/hyundai-kia-under-probe-by-u-s-for-cars-that-led-to-4-deaths?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                            <h3>Chanda Kochhar's brother-in-law detained at Mumbai airport</h3></a>
                                          </div>
                                          <div class="text1">
                                            <p>The CBI has detained Rajiv Kochhar, the brother-in-law of ICICI Bank CEO Chanda Kochhar, at the Mumbai airport in connection with the Videocon loan case. The agency is probing whether the bank's loan to Venugopal Dhoot-led Videocon benefitted Chanda Kochhar's husband Deepak Kochhar. Rajiv's firm allegedly advised ICICI borrowers, including Videocon, on their foreign loans worth over $1.7 billion.</p>
                                          </div>

                                        </div>
                                      </div></div>



                                      <div class="col-sm-6"><div class="card_stack">
                                          <div class="card1">
                                            <div class="image16">
                                            </div>
                                            <div class="title1"><a href="https://www.aninews.in/news/national/general-news/rohingyas-cant-be-equated-with-sri-lankan-refugees-centre201803171918510001/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                              <h3>SC allows RCom to sell assets, will reduce debt by ₹25000 cr</h3></a>
                                            </div>
                                            <div class="text1">
                                              <p>Billionaire Anil Ambani-led Reliance Communications (RCom) on Thursday said that Supreme Court lifted a Bombay High Court stay on sale of some of its assets. The company said it now expects to reduce debt by around ₹25,000 crore within the next few weeks. However, the court refused to lift a separate order of a tribunal barring sale of RCom's towers.</p>
                                            </div>

                                          </div>
                                        </div></div>

                                        <div class="col-sm-6"><div class="card_stack">
                                            <div class="card1">
                                              <div class="image17">
                                              </div>
                                              <div class="title1"><a href="https://www.outlookindia.com/website/story/nehru-didnt-trust-chinese-one-bit-called-them-arrogant-devious-and-hegemonistic-/309638?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                <h3>Louis Vuitton maker LVMH CEO becomes world's 4th richest mank</h3></a>
                                              </div>
                                              <div class="text1">
                                                <p>Louis Vuitton maker LVMH's Chairman and CEO Bernard Arnault has overtaken Zara Founder Amancio Ortega to become the world's fourth richest person, according to Bloomberg. Arnault has a net worth of $70.7 billion and has also become the richest person in Europe. This comes after shares of his company Christian Dior rose to a record high on Thursday.</p>
                                              </div>

                                            </div>
                                          </div></div>


                                          <div class="col-sm-6"><div class="card_stack">
                                              <div class="card1">
                                                <div class="image18">
                                                </div>
                                                <div class="title1"><a href="https://www.rt.com/usa/421610-alabama-arming-teachers-women/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                  <h3>Investors add ₹2.6 lakh cr wealth as Sensex rallies 577 pts</h3></a>
                                                </div>
                                                <div class="text1">
                                                  <p>The total market capitalisation of all BSE-listed companies soared by more than ₹2.6 lakh crore to ₹146.74 lakh crore on Thursday after the RBI kept the repo rate unchanged at 6%. The benchmark index Sensex climbed 577 points to close at 33,596. The RBI also cut the inflation forecast for first-half of the fiscal year to a range of 4.7-5.1%.</p>
                                                </div>

                                              </div>
                                            </div></div>

                                            <div class="col-sm-6"><div class="card_stack">
                                                <div class="card1">
                                                  <div class="image19">
                                                  </div>
                                                  <div class="title1"><a href="https://www.hindustantimes.com/tech/new-york-town-bans-bitcoin-mining-to-save-electricity/story-26h0DmakjqORioiuSRiuIL.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle"></a>
                                                    <h3>We don't have capability to turn around Air India: IndiGo</h3>
                                                  </div>
                                                  <div class="text1">
                                                    <p>IndiGo's President Aditya Ghosh has said the airline "does not have the capability to acquire and successfully turn around all of Air India's operations". IndiGo had expressed interest in Air India's international operations and low-cost arm Air India Express. "However, that option is not available under the Government's current divestiture plans for Air India," Ghosh added.</p>
                                                  </div>

                                                </div>
                                              </div></div>
          </div>
        </div>
        <div class="show_more">
          <button type="button" class="btn">SHOW MORE</button>
        </div>








  </body>
</html>
