<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/Entertainment/entertainment.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static "/Entertainment/entertainment.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>

  <body>


{{> nav}}

        <div class="container">
          <div class="row" style="padding-top:25px;">
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image1" >
                  </div>
                  <div class="title1">
                    <a href="https://www.youtube.com/watch?v=M-X-rN2yXfs&utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>Electric car that can be 3D-printed in 3 days for ₹5L made</h3></a>
                  </div>
                  <div class="text1">
                    <p>Two startups namely XEV and Polymaker have 3D-printed an electric car for ₹5 lakh ($7,500) and claimed it takes only three days to make. The car has a top speed of 70 kmph and can travel up to 150 km on a single charge. All the components of the car were printed except for the chassis, seats, and glass.</p>
                  </div>

                </div>
              </div></div>
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image2">
                  </div>
                  <div class="title1"><a href="https://www.hindustantimes.com/cricket/mohammed-shami-charged-for-domestic-violence-attempt-to-murder/story-47IBoxqFMCDtEb8hCKvfUO.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>My only crime is marrying Hasin Jahan: Mohammad Shami</h3></a>
                  </div>
                  <div class="text1">
                    <p>Reacting to the several allegations levelled against him by his wife Hasin Jahan, cricketer Mohammad Shami has stated that he is innocent and his only crime is that he married Hasin Jahan. Talking about the impact of the ongoing feud between the couple, Shami said, "Past few days have been quite stressful. I have not eaten properly."</p>
                  </div>

                </div>
              </div></div>

              <div class="col-sm-6"><div class="card_stack">
                  <div class="card1">
                    <div class="image3">
                    </div>
                    <div class="title1"><a href="http://www.xinhuanet.com/english/2018-03/17/c_137046022.htm?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                      <h3>Prez Jinping 1st Chinese leader to take oath on Constitution</h3></a>
                    </div>
                    <div class="text1">
                      <p>Chinese President Xi Jinping on Saturday became the country's first leader to take oath on the Constitution after he was unanimously re-elected to serve indefinitely. Jinping took oath as both the President and the head of the country's military. The oaths of allegiance were added to the Chinese Constitution through an amendment last week.</p>
                    </div>

                  </div>
                </div></div>

                <div class="col-sm-6"><div class="card_stack">
                    <div class="card1">
                      <div class="image5">
                      </div>
                      <div class="title1">
                        <h3>Trump views outdated, doesn't take job seriously: Economist</h3>
                      </div>
                      <div class="text1">
                        <p>Claiming that US President Donald Trump doesn't take his job seriously, Nobel-winning economist Paul Krugman on Saturday said that Trump's views were "50 years out of date". "Trump doesn't say to himself that he is the most important official in the world," Krugman added. Slamming Trump's tariffs on steel and aluminium, Krugman said they could lead to a trade war.</p>
                      </div>

                    </div>
                  </div></div>

                  <div class="col-sm-6"><div class="card_stack">
                      <div class="card1">
                        <div class="image6">
                        </div>
                        <div class="title1"><a href="https://economictimes.indiatimes.com/topic/RBI/news">
                          <h3>RBI has enough powers to supervise banking sector: Ex-Guv</h3></a>
                        </div>
                        <div class="text1">
                          <p>Former RBI Governor C Rangarajan has said the central bank has enough supervisory powers but has to consult with the government before taking action on a public sector bank. Rangarajan's statement comes after Governor Urjit Patel said the RBI has limited legal authority over state-run banks. RBI cannot remove directors or replace non-performing senior management of such banks, Patel said.</p>
                        </div>

                      </div>
                    </div></div>


                    <div class="col-sm-6"><div class="card_stack">
                        <div class="card1">
                          <div class="image7">
                          </div>
                          <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                            <h3>India beat Bangladesh to win fourth consecutive T20I series</h3></a>
                          </div>
                          <div class="text1">
                            <p>India defeated Bangladesh by four wickets in the final of the T20I tri-series in Colombo on Sunday to register their fourth consecutive T20I series victory. With their eighth successive T20I victory against Bangladesh, India maintained their 100% win record against the neighbours. India had defeated New Zealand, Sri Lanka and South Africa in their last three T20I series respectively.</p>
                          </div>

                        </div>
                      </div></div>


                      <div class="col-sm-6"><div class="card_stack">
                          <div class="card1">
                            <div class="image8">
                            </div>
                            <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle#scorecard">
                              <h3>Rohit Sharma reaches 7,000 T20 runs, third Indian to do so</h3></a>
                            </div>
                            <div class="text1">
                              <p>Indian opener Rohit Sharma has become the third Indian batsman to score 7,000 runs in T20 cricket, achieving the feat during his 56-run knock in the T20I series final against Bangladesh on Sunday. Rohit joined Suresh Raina and Virat Kohli, who have scored 7,378 and 7,095 T20 runs respectively. The knock was Rohit's 16th 50-plus T20I score, the joint-second most.</p>
                            </div>

                          </div>
                        </div></div>


                        <div class="col-sm-6"><div class="card_stack">
                            <div class="card1">
                              <div class="image9">
                              </div>
                              <div class="title1"><a href="https://twitter.com/ANI/status/975320514070745088?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                <h3>BJP, RSS are like Kauravas, Congress is like Pandavas: Rahul</h3></a>
                              </div>
                              <div class="text1">
                                <p>Referring to the Hindu epic Mahabharata, Congress President Rahul Gandhi on Sunday compared the BJP and RSS to the Kauravas, stating they are arrogant and "designed to fight for power". He added that the Congress is like the Pandavas, who are humble and "designed to fight for truth". Gandhi was addressing the 84th Plenary Session of the Congress.</p>
                              </div>

                            </div>
                          </div></div>



                          <div class="col-sm-6"><div class="card_stack">
                              <div class="card1">
                                <div class="image10">
                                </div>
                                <div class="title1"><a href="https://www.bloombergquint.com/business/2018/03/18/trai-looks-to-fast-track-mobile-number-portability-process?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                  <h3>TRAI plans to speed up mobile number porting process</h3></a>
                                </div>
                                <div class="text1">
                                  <p>Telecom regulator TRAI plans to issue a consultation paper by month-end that will seek to speed up the process of mobile network porting. TRAI will also look at simplifying the entire process, Chairman RS Sharma said. Notably, TRAI recently slashed the Mobile Number Portability (MNP) charges by almost 79% to a maximum of ₹4.</p>
                                </div>

                              </div>
                            </div></div>


                            <div class="col-sm-6"><div class="card_stack">
                                <div class="card1">
                                  <div class="image11">
                                  </div>
                                  <div class="title1"><a href="http://www.bgr.in/news/microsoft-offers-250000-to-identify-chip-bugs/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                    <h3>Microsoft offers ₹1.6 crore to identify chip bugs</h3></a>
                                  </div>
                                  <div class="text1">
                                    <p>Technology giant Microsoft has offered about ₹1.6 crore as bug bounty to identify new categories of bugs in chips. The offer is part of Microsoft's limited-time bounty programme designed to discover additional flaws in processor designs. Also, Intel recently issued software updates, which patch the vulnerabilities in Intel products launched in the last five years</p>
                                  </div>

                                </div>
                              </div></div>


                              <div class="col-sm-6"><div class="card_stack">
                                  <div class="card1">
                                    <div class="image12">
                                    </div>
                                    <div class="title1"><a href="http://www.livemint.com/Politics/fAKJ4sXvK5HPAEYu6tk5EJ/Vladimir-Putin-eyes-fourth-term-as-Russians-go-to-polls.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                      <h3>Putin casts vote in polls seeking fourth presidential term</h3></a>
                                    </div>
                                    <div class="text1">
                                      <p>Russian President Vladimir Putin on Sunday cast his vote in the presidential election as he seeks his fourth term in office. The elections are being held on the day marking the fourth anniversary of Russia's annexation of Crimea. Notably, Putin is Russia's longest-serving leader since Soviet dictator Joseph Stalin</p>
                                    </div>

                                  </div>
                                </div></div>



                                <div class="col-sm-6"><div class="card_stack">
                                    <div class="card1">
                                      <div class="image13">
                                      </div>
                                      <div class="title1"><a href="https://www.hindustantimes.com/business-news/only-16-of-initial-gst-returns-filed-for-july-dec-matched-with-final-returns/story-KQj82tNn2WigR9ZNatC21L.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                        <h3>Only 16% of initial and final GST returns for July-Dec match</h3></a>
                                      </div>
                                      <div class="text1">
                                        <p>Only 16.36% of the initial GST returns filed for July-December 2017 matched with the final returns, according to an analysis by the Revenue Department. The GST returns data showed that 34% of the businesses paid ₹34,400 crore less tax during the period while filing initial returns. However, there was also excess tax payment of ₹91,072 crore by 49.36% of businesses.</p>
                                      </div>

                                    </div>
                                  </div></div>


                                  <div class="col-sm-6"><div class="card_stack">
                                      <div class="card1">
                                        <div class="image14">
                                        </div>
                                        <div class="title1"><a href="https://www.indiatoday.in/pti-feed/story/new-mobile-application-can-reduce-stroke-risk-1191609-2018-03-17?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                          <h3>Scientists develop app to detect strokes with 96% accuracy</h3></a>
                                        </div>
                                        <div class="text1">
                                          <p>Scientists at Finland's University of Turku have developed an app that can detect irregular or rapid heart rate, a leading cause of stroke, with 96% accuracy. The researchers were able to identify the patients with risk of stroke from the other groups with a smartphone. The study took seven years of research to achieve the accuracy.</p>
                                        </div>

                                      </div>
                                    </div></div>



                                    <div class="col-sm-6"><div class="card_stack">
                                        <div class="card1">
                                          <div class="image15">
                                          </div>
                                          <div class="title1"><a href="https://www.bloomberg.com/news/articles/2018-03-17/hyundai-kia-under-probe-by-u-s-for-cars-that-led-to-4-deaths?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                            <h3>US investigates Hyundai, Kia airbag failures after 4 deaths</h3></a>
                                          </div>
                                          <div class="text1">
                                            <p>The US government's road safety agency has launched an investigation into faulty airbags in certain Hyundai and Kia vehicles that have caused four deaths. The agency said it is currently aware of six crashes where airbags failed to deploy in frontal collisions. The problem may affect 4.25 lakh cars made by the South Korean manufacturers.</p>
                                          </div>

                                        </div>
                                      </div></div>



                                      <div class="col-sm-6"><div class="card_stack">
                                          <div class="card1">
                                            <div class="image16">
                                            </div>
                                            <div class="title1"><a href="https://www.aninews.in/news/national/general-news/rohingyas-cant-be-equated-with-sri-lankan-refugees-centre201803171918510001/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                              <h3>Rohingyas can't be equated with Lankan Tamil refugees: India</h3></a>
                                            </div>
                                            <div class="text1">
                                              <p>The Centre has told the Supreme Court that Rohingya refugees cannot be equated with Sri Lankan Tamil refugees, who fled the war in the country during the 1980s. Such a comparison is ill-founded and misconceived, it added. The Centre's remarks came after the Rohingyas sought the same facilities which are being given to Sri Lankan Tamil refugees by India.</p>
                                            </div>

                                          </div>
                                        </div></div>

                                        <div class="col-sm-6"><div class="card_stack">
                                            <div class="card1">
                                              <div class="image17">
                                              </div>
                                              <div class="title1"><a href="https://www.outlookindia.com/website/story/nehru-didnt-trust-chinese-one-bit-called-them-arrogant-devious-and-hegemonistic-/309638?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                <h3>Nehru did not trust China; called it arrogant, reveals book</h3></a>
                                              </div>
                                              <div class="text1">
                                                <p>Former PM Jawaharlal Nehru did not trust the Chinese and called them "arrogant, untrustworthy, devious and hegemonistic," according to a book citing former diplomat G Parthasarathi's notes. This is contrary to popular belief that Nehru had trusted the Chinese and was later "backstabbed" when they led a war against the country in 1962.</p>
                                              </div>

                                            </div>
                                          </div></div>


                                          <div class="col-sm-6"><div class="card_stack">
                                              <div class="card1">
                                                <div class="image18">
                                                </div>
                                                <div class="title1"><a href="https://www.rt.com/usa/421610-alabama-arming-teachers-women/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                  <h3>Teachers shouldn't carry guns as most are women: US lawmaker</h3></a>
                                                </div>
                                                <div class="text1">
                                                  <p>Arguing that teachers should not be armed with guns in the US as most of them are women, a Republican lawmaker claimed that women are scared of guns and don't want to learn how to shoot. This comes after the US government announced that it would pay states for firearms training for teachers to respond to mass shooting attacks.</p>
                                                </div>

                                              </div>
                                            </div></div>

                                            <div class="col-sm-6"><div class="card_stack">
                                                <div class="card1">
                                                  <div class="image19">
                                                  </div>
                                                  <div class="title1"><a href="https://www.hindustantimes.com/tech/new-york-town-bans-bitcoin-mining-to-save-electricity/story-26h0DmakjqORioiuSRiuIL.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle"></a>
                                                    <h3>US city bans Bitcoin mining to save electricity</h3>
                                                  </div>
                                                  <div class="text1">
                                                    <p>A city in the US state of New York has imposed an 18-month Bitcoin mining ban in an attempt to stop miners from using the city's low-cost electricity. The Plattsburgh city council said the ban was imposed to preserve the "character and direction" of the city. Breaking the rules would invite a penalty of up to $1,000 (₹65,000) per day.</p>
                                                  </div>

                                                </div>
                                              </div></div>
          </div>
        </div>
        <div class="show_more">
          <button type="button" class="btn">SHOW MORE</button>
        </div>








  </body>
</html>
