<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/Sports/sports.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static "/Sports/sports.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>

  <body>


    {{> nav}}
        <div class="container">
          <div class="row" style="padding-top:25px;">
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image1" >
                  </div>
                  <div class="title1">
                    <a href="https://www.youtube.com/watch?v=M-X-rN2yXfs&utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>Indian lifter Sanjita Chanu wins 2nd straight CWG gold medal</h3></a>
                  </div>
                  <div class="text1">
                    <p>Indian weightlifter Sanjita Chanu won her second consecutive Commonwealth Games gold medal after lifting a total of 192 kg in the women's 53 kg category at the Gold Coast Games on Friday. The 24-year-old had won gold in the women's 48 kg category in the 2014 Glasgow Commonwealth Games. India have won one silver and two gold medals till now.</p>
                  </div>

                </div>
              </div></div>
            <div class="col-sm-6"><div class="card_stack">
                <div class="card1">
                  <div class="image2">
                  </div>
                  <div class="title1"><a href="https://www.hindustantimes.com/cricket/mohammed-shami-charged-for-domestic-violence-attempt-to-murder/story-47IBoxqFMCDtEb8hCKvfUO.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                    <h3>1st Modern Olympics winners got olive wreath, not gold medal</h3></a>
                  </div>
                  <div class="text1">
                    <p>There were no gold medals at the first-ever Modern Olympics, which started on April 6, 1896, in Athens, Greece. Winners were awarded silver medals and an olive wreath, while second-placed athletes got a copper medal and a branch of laurel. One side of the medal had the face of Greek God Zeus, while the other side had the Acropolis.</p>
                  </div>

                </div>
              </div></div>

              <div class="col-sm-6"><div class="card_stack">
                  <div class="card1">
                    <div class="image3">
                    </div>
                    <div class="title1"><a href="http://www.xinhuanet.com/english/2018-03/17/c_137046022.htm?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                      <h3>India’s youngest weightlifter at CWG 2018 wins bronze</h3></a>
                    </div>
                    <div class="text1">
                      <p>India's youngest weightlifter at the 2018 Commonwealth Games, 18-year-old Deepak Lather won India a bronze medal in the 69-kg men's category at Gold Coast on Friday. Lather, who is making his Commonwealth Games debut, lifted a total weight of 295 kg. Earlier in 2017, at the Commonwealth Championships, Lather won three medals for India.</p>
                    </div>

                  </div>
                </div></div>

                <div class="col-sm-6"><div class="card_stack">
                    <div class="card1">
                      <div class="image5">
                      </div>
                      <div class="title1">
                        <h3>Co-accused Saif's dad was also accused of killing blackbuck</h3>
                      </div>
                      <div class="text1">
                        <p>Actor Saif Ali Khan's father and ex-India cricket captain Mansoor Ali Khan Pataudi was accused of killing a blackbuck with his daughter Soha's rifle on World Environment Day in 2005. In 2015, six people of Pataudi's hunting party were sentenced to three years in jail while Pataudi's name was removed from the list of accused after his death in 2011.</p>
                      </div>

                    </div>
                  </div></div>

                  <div class="col-sm-6"><div class="card_stack">
                      <div class="card1">
                        <div class="image6">
                        </div>
                        <div class="title1"><a href="https://economictimes.indiatimes.com/topic/RBI/news">
                          <h3>India whitewash Pakistan, SL; enter quarters of team event</h3></a>
                        </div>
                        <div class="text1">
                          <p>India's badminton team whitewashed Sri Lanka and Pakistan 5-0 each in the group stage at the Commonwealth Games 2018 on Thursday to enter quarter-finals of the mixed team event. Ace Indian shuttler Saina Nehwal defeated Sri Lanka's MD Beruwelage 21-8, 21-4 and Pakistan's Mahoor Shahzad 21-7, 21-11 in her solo matches. Further, Kidambi Srikanth also registered wins in his matches.
</p>
                        </div>

                      </div>
                    </div></div>


                    <div class="col-sm-6"><div class="card_stack">
                        <div class="card1">
                          <div class="image7">
                          </div>
                          <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                            <h3>Should try pink ball in IPL matches next year: Kapil Dev</h3></a>
                          </div>
                          <div class="text1">
                            <p>Former Indian captain Kapil Dev said, "If the Indian team is wanting to play day-night Test at home with pink ball, they could use next year's IPL as testing ground". India have not played a single day-night Test match yet. India's current coach Ravi Shastri had previously stated that day-night Tests neutralise the effects of the spinners..</p>
                          </div>

                        </div>
                      </div></div>


                      <div class="col-sm-6"><div class="card_stack">
                          <div class="card1">
                            <div class="image8">
                            </div>
                            <div class="title1"><a href="https://www.icc-cricket.com/match/7891?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle#scorecard">
                              <h3>Star India owns rights worth ₹22,485 crore of Indian cricket</h3></a>
                            </div>
                            <div class="text1">
                              <p>IAfter acquiring broadcast rights of Indian cricket team's home series for the next five years for ₹6,138.1 crore, Star India now owns ₹22,485 crore worth of media rights for cricket in India. It had acquired the IPL's global media rights with a consolidated bid of ₹16,347.5 crore last year. Star India also owns broadcast rights of all major ICC tournaments.</p>
                            </div>

                          </div>
                        </div></div>


                        <div class="col-sm-6"><div class="card_stack">
                            <div class="card1">
                              <div class="image9">
                              </div>
                              <div class="title1"><a href="https://twitter.com/ANI/status/975320514070745088?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                <h3>Who is Gururaja, India's first medalist at CWG 2018?</h3></a>
                              </div>
                              <div class="text1">
                                <p>Weightlifter P Gururaja, who won India's first medal at the CWG 2018 today, was born on August 15, 1992 in Karnataka. The son of a truck driver, Gururaja wanted to become a wrestler initially after seeing Sushil Kumar win bronze at 2008 Olympics. Gururaja is also an employee of Indian Air Force and had won gold at 2016 Commonwealth </p>
                              </div>

                            </div>
                          </div></div>



                          <div class="col-sm-6"><div class="card_stack">
                              <div class="card1">
                                <div class="image10">
                                </div>
                                <div class="title1"><a href="https://www.bloombergquint.com/business/2018/03/18/trai-looks-to-fast-track-mobile-number-portability-process?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                  <h3>Pak no. 1 T20I team as they don't play IPL: Younis</h3></a>
                                </div>
                                <div class="text1">
                                  <p>Former Pakistani cricketer and coach Waqar Younis has stated that the Pakistani cricket team is the number one ranked T20I side as the Pakistani players do not play in the Indian Premier League. "Because of not playing IPL, our boys are down to earth and they want to play international cricket," the former Pakistani captain added..</p>
                                </div>

                              </div>
                            </div></div>


                            <div class="col-sm-6"><div class="card_stack">
                                <div class="card1">
                                  <div class="image11">
                                  </div>
                                  <div class="title1"><a href="http://www.bgr.in/news/microsoft-offers-250000-to-identify-chip-bugs/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                    <h3>Salman's punishment too harsh: Ex-Pak pacer Shoaib Akhtar</h3></a>
                                  </div>
                                  <div class="text1">
                                    <p>Technology giant Microsoft has offered about ₹1.6 crore as bug bounty to identify new categories of bugs in chips. The offer is part of Microsoft's limited-time bounty programme designed to discover additional flaws in processor designs. Also, Intel recently issued software updates, which patch the vulnerabilities in Intel products launched in the last five years</p>
                                  </div>

                                </div>
                              </div></div>


                              <div class="col-sm-6"><div class="card_stack">
                                  <div class="card1">
                                    <div class="image12">
                                    </div>
                                    <div class="title1"><a href="http://www.livemint.com/Politics/fAKJ4sXvK5HPAEYu6tk5EJ/Vladimir-Putin-eyes-fourth-term-as-Russians-go-to-polls.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                      <h3>Mithali Raj becomes most capped player in women's ODIs</h3></a>
                                    </div>
                                    <div class="text1">
                                      <p>Russian President Vladimir Putin on Sunday cast his vote in the presidential election as he seeks his fourth term in office. The elections are being held on the day marking the fourth anniversary of Russia's annexation of Crimea. Notably, Putin is Russia's longest-serving leader since Soviet dictator Joseph Stalin</p>
                                    </div>

                                  </div>
                                </div></div>



                                <div class="col-sm-6"><div class="card_stack">
                                    <div class="card1">
                                      <div class="image13">
                                      </div>
                                      <div class="title1"><a href="https://www.hindustantimes.com/business-news/only-16-of-initial-gst-returns-filed-for-july-dec-matched-with-final-returns/story-KQj82tNn2WigR9ZNatC21L.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                        <h3>Indian women's hockey team thrashes Malaysia 4-1 at CWG 2018/h3></a>
                                      </div>
                                      <div class="text1">
                                        <p>Only 16.36% of the initial GST returns filed for July-December 2017 matched with the final returns, according to an analysis by the Revenue Department. The GST returns data showed that 34% of the businesses paid ₹34,400 crore less tax during the period while filing initial returns. However, there was also excess tax payment of ₹91,072 crore by 49.36% of businesses.</p>
                                      </div>

                                    </div>
                                  </div></div>


                                  <div class="col-sm-6"><div class="card_stack">
                                      <div class="card1">
                                        <div class="image14">
                                        </div>
                                        <div class="title1"><a href="https://www.indiatoday.in/pti-feed/story/new-mobile-application-can-reduce-stroke-risk-1191609-2018-03-17?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                          <h3>Won't play in the IPL even if invited: Shahid Afridi</h3></a>
                                        </div>
                                        <div class="text1">
                                          <p>Scientists at Finland's University of Turku have developed an app that can detect irregular or rapid heart rate, a leading cause of stroke, with 96% accuracy. The researchers were able to identify the patients with risk of stroke from the other groups with a smartphone. The study took seven years of research to achieve the accuracy.</p>
                                        </div>

                                      </div>
                                    </div></div>



                                    <div class="col-sm-6"><div class="card_stack">
                                        <div class="card1">
                                          <div class="image15">
                                          </div>
                                          <div class="title1"><a href="https://www.bloomberg.com/news/articles/2018-03-17/hyundai-kia-under-probe-by-u-s-for-cars-that-led-to-4-deaths?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                            <h3>Australia team culture criticism exaggerated, says Ponting</h3></a>
                                          </div>
                                          <div class="text1">
                                            <p>The US government's road safety agency has launched an investigation into faulty airbags in certain Hyundai and Kia vehicles that have caused four deaths. The agency said it is currently aware of six crashes where airbags failed to deploy in frontal collisions. The problem may affect 4.25 lakh cars made by the South Korean manufacturers.</p>
                                          </div>

                                        </div>
                                      </div></div>



                                      <div class="col-sm-6"><div class="card_stack">
                                          <div class="card1">
                                            <div class="image16">
                                            </div>
                                            <div class="title1"><a href="https://www.aninews.in/news/national/general-news/rohingyas-cant-be-equated-with-sri-lankan-refugees-centre201803171918510001/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                              <h3>World no. 1 Test bowler ruled out of IPL due to back injury</h3></a>
                                            </div>
                                            <div class="text1">
                                              <p>The Centre has told the Supreme Court that Rohingya refugees cannot be equated with Sri Lankan Tamil refugees, who fled the war in the country during the 1980s. Such a comparison is ill-founded and misconceived, it added. The Centre's remarks came after the Rohingyas sought the same facilities which are being given to Sri Lankan Tamil refugees by India.</p>
                                            </div>

                                          </div>
                                        </div></div>

                                        <div class="col-sm-6"><div class="card_stack">
                                            <div class="card1">
                                              <div class="image17">
                                              </div>
                                              <div class="title1"><a href="https://www.outlookindia.com/website/story/nehru-didnt-trust-chinese-one-bit-called-them-arrogant-devious-and-hegemonistic-/309638?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                <h3>There was hardly any competition: CWG gold medalist Chanu</h3></a>
                                              </div>
                                              <div class="text1">
                                                <p>Former PM Jawaharlal Nehru did not trust the Chinese and called them "arrogant, untrustworthy, devious and hegemonistic," according to a book citing former diplomat G Parthasarathi's notes. This is contrary to popular belief that Nehru had trusted the Chinese and was later "backstabbed" when they led a war against the country in 1962.</p>
                                              </div>

                                            </div>
                                          </div></div>


                                          <div class="col-sm-6"><div class="card_stack">
                                              <div class="card1">
                                                <div class="image18">
                                                </div>
                                                <div class="title1"><a href="https://www.rt.com/usa/421610-alabama-arming-teachers-women/?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle">
                                                  <h3>McGregor smashes rival's bus with trolley, turns himself in</h3></a>
                                                </div>
                                                <div class="text1">
                                                  <p>Arguing that teachers should not be armed with guns in the US as most of them are women, a Republican lawmaker claimed that women are scared of guns and don't want to learn how to shoot. This comes after the US government announced that it would pay states for firearms training for teachers to respond to mass shooting attacks.</p>
                                                </div>

                                              </div>
                                            </div></div>

                                            <div class="col-sm-6"><div class="card_stack">
                                                <div class="card1">
                                                  <div class="image19">
                                                  </div>
                                                  <div class="title1"><a href="https://www.hindustantimes.com/tech/new-york-town-bans-bitcoin-mining-to-save-electricity/story-26h0DmakjqORioiuSRiuIL.html?utm_source=inshorts&utm_medium=referral&utm_campaign=fullarticle"></a>
                                                    <h3>11-year-old Welsh TT player opens CWG with win against India</h3>
                                                  </div>
                                                  <div class="text1">
                                                    <p>A city in the US state of New York has imposed an 18-month Bitcoin mining ban in an attempt to stop miners from using the city's low-cost electricity. The Plattsburgh city council said the ban was imposed to preserve the "character and direction" of the city. Breaking the rules would invite a penalty of up to $1,000 (₹65,000) per day.</p>
                                                  </div>

                                                </div>
                                              </div></div>
          </div>
        </div>
        <div class="show_more">
          <button type="button" class="btn">SHOW MORE</button>
        </div>








  </body>
</html>
